@font-face {
  font-family: TNR; /* set name */
  src: url(./Times\ New\ Roman.woff2); /* url of the font */
}

@font-face {
  font-family: TNR; /* set name */
  src: url(./Times\ New\ Roman\ Bold.woff2); /* url of the font */
  font-weight: bold;
}

@font-face {
  font-family: TNR; /* set name */
  src: url(./Times\ New\ Roman\ Bold\ Italic.woff2); /* url of the font */
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: TNR; /* set name */
  src: url(./Times\ New\ Roman\ Italic.woff2); /* url of the font */
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
* {
  font-family: TNR, "Times New Roman", Times, serif;
  color: black;
  background-color: white;
  font-size: 12pt;
  /* hyphens:manual; */
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

body {
  width: 100%;
  max-width: 22cm;
  /* margin: .5cm 0; */
  padding: 0.5cm;
  /* outline: 1px solid black; */
  min-height: 29cm;
}

@media (min-width: 21cm) {
  body {
    padding: 2cm 2cm 2cm 3cm;
    margin: 1cm auto;
    outline: 1px solid black;
  }
}

p {
  text-align: justify;
  text-indent: 3em;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: bold;

  margin-top: 2em;
  margin-bottom: 1em;
}

.r {
  text-align: right;
}

.c {
  text-align: center;
}
